quart==0.16.2
asyncpg==0.25.0
python-dotenv==0.19.2
passlib==1.7.4
quart-openapi[doc]==1.7.2
google-api-python-client==2.12.0
google-auth==1.32.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.4
psycopg2==2.9.2
black==21.12b0
pre-commit==2.16.0
aiogoogle==3.1.1
peony-twitter[all]==2.1.2